.text-block {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.text-block h3 {
    margin-bottom: 15px;
    color: var(--text-dark);
    font-size: 20px;
}

.text-block p {
    color: var(--text-secondary);
    line-height: 1.5;
    font-size: 14px;
}
