:root {
    --bg-primary: #f3f3f3;
    --bg-target: #dddddd;
    --bg-body: #ebeff1;

    --btn-primary-bg: #007bff;
    --btn-primary-bg-hover: #0056b3;
    --btn-success-bg: #28a745;
    --btn-success-bg-hover: #159733;
    --btn-info-bg: #17a2b8;
    --btn-info-bg-hover: #147f8f;

    --text-primary: #fff;
    --text-secondary: #666666;
    --text-dark: #000000;

    --color-danger: #e53935;
    --color-danger-hover: #df2521;
    --color-success: #4caf50;

    --border-primary: #dddddd;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--bg-body);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
